<!DOCTYPE html>
<html>
	<head>
		<title> Seguridad </title>
		<meta charset="UTF-8">
	</head>
	<body>
		<ul>
			<li> <a href="prac2seg.php"> Práctica 2 </li>			
			<li> <a href="prac4seg.php"> Práctica 4 </li>
			<li> <a href="prac5seg.php"> Práctica 5 </li>
			<li> <a href="prac6seg.php"> Práctica 6 </li>
			<li> <a href="prac7seg.php"> Práctica 7 </li>
			<li> <a href="prac8seg.php"> Práctica 8 </li>
			<li> <a href="prac9seg.php"> Práctica 9 </li>
			<a href="proyecto_seg.php"> Salir </a>
		</ul>
	</body>
</html>